@charset "UTF-8";

body {background-image: url(Self-Adhesive-Wallpaper-sticky-decor-sheet-DBS-24.jpg)}
body {border: thick solid; border-color: black}
body {font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; font-weight: 600}

h1 {color: cadetblue; text-align: center}
h2.am {color: cadetblue; text-align: center}
h2.pl {color:cadetblue; text-align: center}

hr {border: medium solid; color:black}

.student {color: black; text-align: center}
.jbhs {color: black; text-align: center}
.semesteryear {color: black; text-align: center}
.thispagecontains {color: black; font-weight: 600; text-align: center}
.list {color: black}
.year2020 {color:black}

img {border:thin solid; border-color: black}

