background{color:yellow}

h1 {color:white;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
text-align: center;
border: solid medium;
 border-color: white;}

h2 {color:white;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}


p {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
color: white;}

ul {color:white;}
ol {color:white;
 
a:visited {color: white}

a:hover {color:black}

hr {color:white;
style: solid medium}
