h1 {color:#EDC2D8FF;
font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
text-align: center;}

h2 {color:#EDC2D8FF;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
text-align: center}
body {background-color: #8ABAD3FF}

p {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
color: white}

ul {color:white}
ol {color:white}


a:visited {color: white}

a:hover {color:#EDC2D8FF}

